<div class="row subsystem-header">
    <div class="pull-left">
        <span style="font-size: 16px;">事业部/条线配置管理</span>
    </div>
</div>
<div class="row subsystem-toolbar">
    <div class="col-sm-12 col-md-5 col-lg-3">
        <div class="pull-left">
            <button onclick="CommonBUObj.add()" class="btn btn-success btn-sm" title="新增机构信息">
                <i class="icon-plus"> 新增</i>
            </button>

            <button onclick="CommonBUObj.upload()" class="btn btn-success btn-sm" title="导入机构信息">
                <span class="icon-edit"> 导入</span>
            </button>
            <button onclick="CommonBUObj.download()" class="btn btn-success btn-sm" title="导出机构信息">
                <span class="icon-trash"> 导出</span>
            </button>
        </div>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-9" style="padding-left: 0px;">
        <div class="pull-left">
            <button onclick="CommonBUObj.update()" class="btn btn-success btn-sm" title="编辑机构信息">
                <span class="icon-edit"> 编辑</span>
            </button>
            <button onclick="CommonBUObj.delete()" class="btn btn-danger btn-sm" title="删除机构信息">
                <span class="icon-trash"> 删除</span>
            </button>
        </div>

        <div class="pull-right" style="height: 44px; line-height: 44px; width: 260px;">
            <span style="text-align:right;width:80px;height: 30px; line-height: 30px; margin-top: 7px;display: inline" class="pull-left">&nbsp;&nbsp;所属域：</span>
            <select id="h-common-business-domain-list" class="form-control pull-right" style="width: 180px;height: 24px; line-height: 24px; margin-top: 10px;padding: 0px;">
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-5 col-lg-3">
        <div id="h-common-business-tree-info" style="border: #598f56 solid 1px;">
            <div class="col-ms-12 col-md-12 col-lg-12">
                <div style="border-bottom: #598f56 solid 1px;height: 44px; line-height: 44px;">
                    <div class="pull-left">
                        <span><i class="icon-sitemap"> </i>事业部/条线树形图</span>
                    </div>
                    <div class="pull-right">
                    <span>
                        <i class="icon-search" style="margin-top: 15px;"></i>&nbsp;
                    </span>
                    </div>
                </div>
            </div>
            <div id="h-common-business-tree-info-list" class="col-sm-12 col-md-12 col-lg-12"
                 style="padding:15px 5px;overflow: auto">
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-7 col-lg-9" style="padding-left: 0px;">
        <div id="h-common-business-content" style="height: 300px; border: #598f56 solid 1px;">

            <div id="h-common-business-table-toolbar" class="pull-left">
                <span>事业部/条线详细信息</span>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12">
                <table id="h-common-business-table-id"
                       data-toggle="table"
                       data-striped="true"
                       data-unique-id="business_unit_id"
                       data-toolbar="#h-common-business-table-toolbar"
                       data-side-pagination="client"
                       data-pagination="false"
                       data-search="refresh">
                    <thead>
                    <tr>
                        <th data-field="state" data-checkbox="true"></th>
                        <th data-field="code_number">条线编码</th>
                        <th data-field="business_unit_desc">条线名称</th>
                        <th data-field="business_unit_up_id" data-formatter="CommonBUObj.formatterUpId">上级编码</th>
                        <th data-align="center" data-field="create_date">创建日期</th>
                        <th data-align="center" data-field="create_user">创建人</th>
                        <th data-align="center" data-field="modify_date">修改日期</th>
                        <th data-align="center" data-field="modify_user">修改人</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">

    var CommonBUObj = {
        download:function () {
            var domain_id = $("#h-common-business-domain-list").val()
            var url = "/v1/common/depart/download?domain_id="+domain_id;
            $.Hdownload({
                url:url,
                name:"事业部/条线参数信息",
            })
        },
        upload:function () {
            $.Hupload({
                header:"事业部/条线上传",
                url:"/v1/common/depart/upload",
                callback:function() {
                    var domain_id = $("#h-common-business-domain-list").val();
                    CommonBUObj.tree(domain_id)
                }
            })
        },
        add:function () {
          $.Hmodal({
              header:"新增费用方向",
              body:$("#h-common-business-src").html(),
              height:"340px",
              callback:function (hmode) {
                  $.HAjaxRequest({
                      url:"/v1/common/depart/post",
                      type:"post",
                      data:$("#h-common-business-form").serialize(),
                      success:function () {
                          $.Notify({
                              message:"新增事业部/条线信息成功",
                              type:"success",
                          });
                          var domain_id = $("#h-common-business-domain-list").val();
                          CommonBUObj.tree(domain_id)
                          $(hmode).remove()
                      }
                  })
              },
              preprocess:function () {

                  $("#h-ca-direction-add-attr").Hselect({
                      height:"30px",
                  });
                  var direction_id = $("#h-common-business-tree-info-list").attr("data-selected");

                  var domain_id = $("#h-common-business-domain-list").val();

                  $("#h-common-business-form").find("input[name='domain_id']").val(domain_id)

                  // 获取域中的所有节点层面费用方向
                  $.getJSON("/v1/common/depart/get",{domain_id:domain_id},function (data) {
                      var arr = new Array()

                      $(data).each(function (index, element) {
                          var e = {}
                          e.id = element.business_unit_id;
                          e.text = element.business_unit_desc;
                          e.upId = element.business_unit_up_id;
                          arr.push(e)
                      });

                      var e = {};
                      e.id = "mas_join_-1";
                      e.text = "系统树形根结点";
                      e.upId = "##hzwy23##";
                      arr.push(e);

                      $("#h-common-form-business-up-id").Hselect({
                          height:"30px",
                          data:arr,
                          value:direction_id,
                      })
                  })
              },
          })  
        },
        delete:function () {
            var rows = $("#h-common-business-table-id").bootstrapTable('getSelections');
            if (rows.length == 0) {
                var direction_id = $("#h-common-business-tree-info-list").attr("data-selected");
                if (direction_id == undefined) {
                    $.Notify({
                        message:"请选择需要删除的事业部/条线信息",
                        type:"warning",
                    })
                    return
                }
                rows.push($("#h-common-business-table-id").bootstrapTable('getRowByUniqueId',direction_id))
            }

            $.Hconfirm({
                body:"点击确定,将会事业部/条线信息,以及这个费用方向的下级信息",
                callback:function () {
                    $.HAjaxRequest({
                        url:"/v1/common/depart/delete",
                        type:"POST",
                        data:{JSON:JSON.stringify(rows)},
                        success:function () {
                            $.Notify({
                                message:"删除事业部/条线信息成功",
                                type:"success",
                            });
                            var domain_id = $("#h-common-business-domain-list").val();
                            CommonBUObj.tree(domain_id);
                        },
                    })
                },
            })
        },
        update:function () {
            var rows = $("#h-common-business-table-id").bootstrapTable('getSelections');
            if (rows.length == 0) {
                var direction_id = $("#h-common-business-tree-info-list").attr("data-selected");
                if (direction_id == undefined) {
                    $.Notify({
                        message:"请选择需要删除的费用方向信息",
                        type:"warning",
                    });
                    return
                }
                rows.push($("#h-common-business-table-id").bootstrapTable('getRowByUniqueId',direction_id))
            } else if (rows.length > 1) {
                $.Notify({
                    message:"您选择了多行数据,不知道您要编辑哪一行,请选择一行进行编辑",
                    type:"warning",
                });
                return
            };

            $.Hmodal({
                body:$("#h-common-business-src").html(),
                height:"340px",
                header:"编辑费用方向信息",
                preprocess:function () {
                    var code_number = rows[0].code_number;
                    var direction_desc = rows[0].business_unit_desc;
                    var direction_up_id = rows[0].business_unit_up_id;
                    var domain_id = rows[0].domain_id;
                    $("#h-common-business-form").find("input[name='business_unit_id']").val(code_number).attr("readonly","readonly");
                    $("#h-common-business-form").find("input[name='business_unit_desc']").val(direction_desc);
                    $("#h-common-business-form").find("input[name='domain_id']").val(domain_id);


                    // 获取域中的所有节点层面费用方向
                    $.getJSON("/v1/common/depart/get",{domain_id:domain_id},function (data) {
                        var arr = new Array()

                        $(data).each(function (index, element) {
                            var e = {}
                            e.id = element.business_unit_id;
                            e.text = element.business_unit_desc;
                            e.upId = element.business_unit_up_id;
                            arr.push(e)
                        });

                        var e = {};
                        e.id = "mas_join_-1";
                        e.text = "系统树形根结点";
                        e.upId = "##hzwy23##";
                        arr.push(e);

                        $("#h-common-form-business-up-id").Hselect({
                            height:"30px",
                            data:arr,
                            value:direction_up_id,
                        })
                    })
                },
                callback:function (hmode) {
                    $.HAjaxRequest({
                        url:"/v1/common/depart/put",
                        type:"PUT",
                        data:$("#h-common-business-form").serialize(),
                        success:function () {
                            $.Notify({
                                message:"更新置业部/条线信息成功",
                                type:"success",
                            });
                            $(hmode).remove();
                            CommonBUObj.tree(rows[0].domain_id);
                        },
                    })
                }
            })
        },
        formatterUpId:function (value,rows) {
            var tmp = value.split("_join_")
            if (tmp.length == 2){
                return tmp[1]
            } else {
                return value
            }
        },
        tree : function (domain_id) {

            // 获取域中的费用方向信息
            $.getJSON("/v1/common/depart/get",{domain_id:domain_id},function (data) {

                var arr = new Array()
                $(data).each(function (index, element) {
                    var e = {};
                    e.id = element.business_unit_id
                    e.text = element.business_unit_desc
                    e.upId = element.business_unit_up_id
                    arr.push(e)
                })
                $("#h-common-business-tree-info-list").Htree({
                    data:arr,
                    onChange:function (obj) {
                        var id = $(obj).attr("data-id");
                        $("#h-common-business-table-id tbody tr").each(function (index, element) {
                            if ( $(element).attr("data-uniqueid") == id ) {
                                $(element).addClass("info")
                            } else {
                                $(element).removeClass("info")
                            }
                        })
                    },
                });
                $("#h-common-business-table-id").bootstrapTable('load',data);
            })
        },
    }

    $(document).ready(function () {
        $("#h-common-business-content").height(document.documentElement.clientHeight-130);
        $("#h-common-business-tree-info").height(document.documentElement.clientHeight-130);

        $("#h-common-business-table-id").bootstrapTable({
            height:document.documentElement.clientHeight-130,
        });

        CommonBUObj.tree()
        
        $.getJSON("/v1/auth/domain/self/owner",function(data){
            var arr = new Array()
            $(data.owner_list).each(function(index,element){
                var ijs = {}
                ijs.id=element.domain_id
                ijs.text=element.domain_desc
                ijs.upId="####hzwy23###"
                arr.push(ijs)
            });
            $("#h-common-business-domain-list").Hselect({
                data:arr,
                height:"24px",
                width:"180px",
                value:data.domain_id,
                onclick:function () {
                    var domain_id = $("#h-common-business-domain-list").val();
                    CommonBUObj.tree(domain_id)
                },
            });
        });

    })
</script>

<script id="h-common-business-src" type="text/html">
    <form id="h-common-business-form">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <span>事业部/条线编码</span>
            <input name="business_unit_id" placeholder="由1-30位字母,数字组成" type="text" class="form-control" style="height: 30px; line-height: 30px;">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 15px;">
            <span>事业部/条线名称</span>
            <input name="business_unit_desc" placeholder="费用方向描述信息" type="text" class="form-control" style="height: 30px; line-height: 30px;">
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 15px;">
            <span>上级事业部/条线</span>
            <select id="h-common-form-business-up-id" name="business_unit_up_id" type="text" class="form-control" style="height: 30px; line-height: 30px;">
            </select>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6" style="display: none">
            <input name="domain_id" placeholder="费用方向描述信息" type="text" class="form-control">
        </div>
    </form>
</script>