<div class="row subsystem-header">
    <div class="pull-left">
        <span style="font-size: 16px;">系统参数配置</span>
    </div>
</div>
<div class="row subsystem-toolbar">
    <div style="height: 44px; line-height: 44px;display: inline;">
        <span style="height: 30px; line-height: 30px; margin-top: 7px;display: inline"
              class="pull-left">&nbsp;所属域：</span>
        <select id="h-dispatch-batch-config-domain-list" class="form-control pull-left"
                style="width: 180px;height: 24px; line-height: 24px; margin-top: 10px;padding: 0px;">
        </select>
    </div>
    <div id="h-dispatch-batch-config-toolbar-list" class="pull-right">
        <button onclick="" class="btn btn-info btn-sm" title="编辑批次信息">
            <span class="icon-edit"> 修改</span>
        </button>
        <button onclick="" class="btn btn-warning btn-sm" title="启动批次">
            <span class="icon-refresh"> 刷新</span>
        </button>
    </div>
</div>
<div class="row col-sm-12 col-md-12 col-lg-12" id="h-dispatch-batch-config-content">
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var hwindow = document.documentElement.clientHeight;
        $("#h-dispatch-batch-config-content").height(hwindow - 130);

        $.getJSON("/v1/auth/domain/self/owner", function (data) {
            var arr = new Array()
            $(data.owner_list).each(function (index, element) {
                var ijs = {};
                ijs.id = element.domain_id
                ijs.text = element.domain_desc
                ijs.upId = "####hzwy23###"
                arr.push(ijs)
            });
            $("#h-dispatch-batch-config-domain-list").Hselect({
                data: arr,
                height: "24px",
                width: "180px",
                value: data.domain_id,
                onclick: function () {
                    //todo
                },
            });
        });
    });
</script>